section.get-started {
    padding: 80px;

    @media (max-width: 991px) {
        padding: 40px 20px;
    }

    .title {
        font-size: 50px;
        font-weight: 800;
        color: rgb(0, 0, 0, .9);
        line-height: 100%;
        text-align: center;
        padding: 0 7%;

        @media (max-width: 991px) {
            font-size: 30px;
        }

        @media (max-width: 400px) {
            padding: 0;
        }
    }

    .desc {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 0, 0, .7);
    }

    .buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 10px;

        @media (max-width: 400px) {
            display: block;
        }

        div {
            width: max-content;

            @media (max-width: 400px) {
                left: 0;
                right: 0;
                margin: auto;
                margin-bottom: 30px;
            }

            &>a {
                padding: 12px 40px;
                border-radius: 50px;
                background-color: #fff;
                color: rgb(0, 0, 0, .8);
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid rgb(0, 0, 0, .2);

                &.blue-sign {
                    color: #fff;
                    border: none;
                    background-color: var(--general-color-dark);
                }
            }
        }
    }
}

section.navs-week {
    padding: 0px 80px 20px 80px;

    @media (max-width: 991px) {
        padding: 20px;
    }

    .container-fluid {
        button {
            padding: 5px 40px;
            border-radius: 40px;
            box-shadow: none;
            border: 1px solid rgb(0, 0, 0, .2);
            gap: 10px;
            font-size: 13px;
            font-weight: 800;
            color: rgb(0, 0, 0, .85);
            left: 0;
            right: 0;
            margin: auto;
            align-items: center;
            background-color: #e7e7e7;
            display: none;

            @media (max-width: 991px) {
                display: flex;
            }

            svg {
                width: 24px;
                height: 24px;

                path {
                    fill: rgb(0, 0, 0, .8);
                }
            }
        }

        .navbar-nav {
            width: 100%;
            margin-top: 10px;

            .nav-item {
                width: max-content;
                text-align: center;
                display: flex;
                left: 0;
                right: 0;
                margin: auto;
                gap: 5px;

                @media (max-width: 991px){
                    display: block;
                }

                a{
                    font-size: 13px;
                    font-weight: 700;
                    color: rgb(0, 0, 0,.8);
                    cursor: pointer;
                    
                    @media (min-width: 990px){
                        padding: 2px 10px;
                        background-color: rgb(0, 0, 0,.06);
                        border: 1px solid rgb(0, 0, 0,.1);
                        border-radius: 40px;
                    }

                    &:hover{
                        color: var(--general-color-light)
                    }
                }
            }
        }
    }

    .separators{
        .day{
            .ref{
                font-size: 15px;
                font-weight: 800;
                color: rgb(0,0,0,.86);
                border-bottom: 1px solid rgb(0,0,0,.1);
                padding: 10px 0;
            }

            .desc{
                font-size: 13px;
                font-weight: 700;
                color: rgb(0,0,0,.8);
                padding: 10px 0;

                .title{
                    font-size: 15px;
                    font-weight: 800;
                    color: var(--general-color-dark);
                    line-height: 110%;
                }

                .time{
                    display: flex;
                    gap: 5px;

                    .parts{
                        padding: 3px 10px;
                        font-size: 11px;
                        font-weight: 700;
                        color: rgb(0,0,0,.87);
                        border-radius: 30px;
                        background-color: var(--general-color-10);
                        border: 1px solid rgb(0, 0, 0, .2);
                        line-height: 100%;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}