*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --general-color-5: rgb(236, 238, 255);
    --general-color-10: rgb(178, 187, 252);
    --general-color-dark: rgb(5, 20, 133);
    --general-color-light: rgb(14, 36, 199);
}

@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 55px 0 0 0;

    * {
        font-family: Montserrat;
    }
}

.-click-down {
    transition: 0.2s;
    cursor: pointer;

    &:active {
        transition: 0.04s;
        transform: translateY(5px) !important;
    }
}

.-click-opacity{
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        transition: 0.04s;
        transform: scale(1.02) !important;
    }

    &:active {
        transition: 0.04s;
        transform: scale(0.95) !important;
        opacity: 70%;
    }
}

.-click-in {
    transition: 0.2s;
    cursor: pointer;

    &:active {
        transition: 0.04s;
        transform: scale(0.85) !important;
    }
}

header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    .navbar {
        padding: 2px;
        border-bottom: 1px solid rgb(0, 0, 0, .1);
        background-color: #fff;

        .container-fluid {
            padding: 0 40px;

            @media (max-width: 991px) {
                padding: 0 20px;
            }

            .navbar-toggler {
                box-shadow: none;
                border: none;
                outline: none;

                svg {
                    width: 25px;
                    height: 25px;

                    path {
                        fill: rgb(0, 0, 0, .8);
                    }
                }
            }

            .navbar-brand {
                .logo {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: rgb(0, 0, 0, .1);

                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }
            }

            .navbar-nav {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 600;

                .nav-item {
                    text-align: center;

                    &.dropdown {
                        .dropdown-menu {
                            border-radius: 0;
                            border: 1px solid rgb(0, 0, 0, .1);

                            .dropdown-item {
                                padding: 4px 20px;
                                font-size: 14px;
                                font-weight: 600;
                                color: rgb(0, 0, 0, .6);

                                &:hover {
                                    color: var(--general-color-light);
                                    background-color: var(--general-color-5);
                                }

                                &:active {
                                    background-color: var(--general-color-10);
                                }
                            }
                        }
                    }

                    .nav-link {
                        color: rgb(0, 0, 0, .6);
                        font-weight: 600;

                        &.dropdown-toggle {
                            border: none;
                            outline: none;
                            box-shadow: none;
                        }

                        &:hover {
                            color: var(--general-color-light);
                        }
                    }
                }
            }

            .auth-btns {
                @media (max-width: 991px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }

                .auth-btn-on {
                    padding: 6px 20px;
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: 600;
                    border-radius: 4px;
                    background-color: transparent;
                    color: rgb(0, 0, 0, .7);
                    font-weight: 700;
                }

                .user-name-section{
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 12px;
                    font-weight: 700;
                    width: max-content;
                    text-decoration: none;
                    color: rgb(0, 0, 0,.85);
                    background-color: rgb(0, 0, 0,.1);
                    line-height: 100%;
                    height: max-content;
                    margin-top: 4px;
                    text-transform: capitalize;
                    outline: 2px solid rgb(0,0,0,.2);
                }

                .auth-btn-in {
                    padding: 6px 20px;
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: 600;
                    border-radius: 4px;
                    background-color: var(--general-color-dark);
                    color: #fff;
                }
            }
        }
    }
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 100, 150, 0.743);
    z-index: 11;
    overflow-y: scroll;
    opacity: 0;
    transition: 0.2s;
    display: none;

    .body{
        transition: 0.4s;
        padding: 20px;
        border: 1px solid rgb(0, 0, 0,.1);
        width: 70%;
        background-color: #fff;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(20px);

        @media (max-width: 991px) {
            width: calc(100% - 40px);
        }

        @media (max-width: 450px) {
            width: calc(100% - 10px);
            margin-top: 5px;
        }

        .out-btn{
            width: 100%;
            display: flex;
            justify-content: right;

            .icon-c{
                padding: 4px;

                &:hover{
                    background-color: rgb(0, 0, 0,.07);
                    border-radius: 4px;
                    cursor: pointer;
                }

                svg{
                    width: 35px;
                    height: 35px;

                    path{
                        fill: rgb(0, 0, 0,.4);
                    }
                }
            }
        }
    }
}


.main-footer{
    padding: 80px;
    background-color: var(--general-color-5);
    border-top: 1px solid rgb(0, 0, 0,.1);

    @media (max-width: 991px){
        padding: 60px 20px;
    }

    @media (max-width: 350px){
        padding: 50px 8px;
    }

    .logo-center{
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @media (max-width: 450px){
            display: block;
            text-align: center;
        }

        .logo-icon{
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background-color: rgb(0, 0, 0,.06);

            @media (max-width: 450px){
                left: 0;
                right: 0;
                margin: auto;
                margin-bottom: 10px;
            }
        }

        .logo-text{
            font-size: 14px;
            font-weight: 900;
            line-height: 110%;

            label{
                font-size: 13px;
                font-weight: 600;
            }
        }
    }

    .row{
        .col-sm-6{
            width: calc(100% / 3);

            @media (max-width: 991px){
                width: calc(100% / 2);
            }

            @media (max-width: 550px){
                width: calc(100% / 1);
            }

            .card{
                border: none;
                background-color: transparent;

                .card-body{
                    @media (max-width: 450px){
                        display: block;
                        text-align: center;
                    }

                    .ioninc{
                        width: 45px;
                        height: 45px;
                        padding: 10px;
                        background-color: var(--general-color-10);
                        border-radius: 100%;

                        @media (max-width: 450px){
                            left: 0;
                            right: 0;
                            margin: auto;
                        }

                        svg{
                            width: 100%;

                            path{
                                fill: rgb(0, 0, 0,.85);
                            }
                        }
                    }

                    .titrle{
                        font-size: 15px;
                        font-weight: 800;
                        color: rgb(0, 0, 0,.85);
                    }

                    .posts-list{
                        width: 100%;

                        .post{
                            display: flex;
                            width: 100%;
                            padding: 5px 10px;
                            border: 1px solid rgb(0, 0, 0,.1);
                            border-radius: 4px;
                            background-color: rgb(0, 0, 0,.05);

                            .image{
                                width: 80px;
                                height: 80px;
                                background-color: rgb(0, 0, 0,.04);
                                border-radius: 5px;
                                overflow: hidden;

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .texts{
                                width: calc(100% - 80px);
                                padding-left: 5px;

                                .title{
                                    font-size: 14px;
                                    font-weight: 800;
                                    color: rgb(00, 0, 0,.85);
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    overflow: hidden;
                                    -webkit-box-orient: vertical;
                                }

                                .desc{
                                    font-size: 13px;
                                    color: rgb(0, 0, 0,.7);
                                    font-weight: 700;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    overflow: hidden;
                                    -webkit-box-orient: vertical;
                                }

                                .button-link{
                                    margin-top: 8px;
                                    margin-bottom: 8px;

                                    a{
                                        padding: 6px 12px;
                                        background-color: #000;
                                        color: #fff;
                                        border-radius: 20px;
                                        text-decoration: none;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                    font-size: 13px;
                    font-weight: 600;
                    color: rgb(0, 0, 0,.85);
                }
            }
        }
    }

    .copy-right{
        width: 100%;
        text-align: center;
        font-size: 13px;
        margin-top: 30px;
        
        .text{
            padding: 2px 15px;
            font-weight: 700;
            background-color: rgb(0, 0, 0,.05);
            width: max-content;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 40px;
        }
    }

    .social-medias{
        display: flex;
        justify-content: center;
        gap: 10px;

        a{
            .icon-social{
                padding: 6px;
                border-radius: 5px;
                
                &:hover{
                    background-color: var(--general-color-10);
                }

                svg{
                    width: 30px;
                    height: 30px;

                    path{
                        fill: rgb(0, 0, 0,.7);
                    }
                }
            }
        }
    }
}

.alert-status{
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(228, 228, 228);
    width: 40%;
    min-width: 250px;
    max-width: 400px;
    border: 2px solid rgb(0, 0, 0,.2);
    padding: 10px;
    color: rgb(0, 0, 0,.7);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    transition: 0.4s;
    animation: 0.5s popup forwards linear;

    @media (max-width: 956px){
        width: calc(100% - 20px);
    }

    transform: scale(0.7);
    opacity: 0;

    @keyframes popup {
        0%{
            transform: scale(0.7);
            opacity: 0;
        }

        40%{
            transform: scale(1.1);
            opacity: 1;
        }

        80%{
            transform: scale(1.0);
            opacity: 1;
        }

        100%{
            transform: scale(1.0);
            opacity: 1;
        }
    }

    .top-bottle{
        display: flex;

        .desc{
            width: calc(100% - 40px);
            height: 40px;
            display: flex;
            justify-content: left;
            align-items: center;
            font-size: 15px;
            font-weight: 800;
        }

        .out-icon{
            width: 40px;
            display: fleX;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            transform: translateX(10px);
            cursor: pointer;

            &:hover{
                background-color: rgb(0, 0, 0,.1);
            }

            svg{
                width: 25px;
                height: 25px;

                path{
                    fill: rgb(0, 0, 0,.8);
                }
            }
        }
    }

    .holder-btn{
        margin-top: 0px;
        display: flex;
        justify-content: left;

        .button-switch{
            border-radius: 40px;
            padding: 5px 30px;
            font-size: 13px;
            font-weight: 600;
            box-shadow: none;
            background-color: var(--general-color-dark);
            border: none;
            outline: none;
            align-items: center;
            gap: 5px;
            display: flex;
            width: max-content;        
        }
    }

    .top-bottle{
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .description{
        font-size: 13px;
        font-weight: 700;
        color: rgb(0, 0, 0,.7);
        display: flex;

        .left-icon{
            width: 120px;
            display: fleX;
            place-content: center;

            svg{
                width: 80px;
                height: 80px;
                padding: 20px;
                border-radius: 100%;
                background-color: var(--general-color-10);

                path{
                    fill: var(--general-color-dark);
                }
            }
        }

        .right-text{
            width: calc(100% - 80px);
            height: 100%;
            height: max-content;

            .inner-desc{
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                overflow: hidden;
            }
        }
    }
}